@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(38, 38, 38, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(38, 38, 38, 0.3);
  background-color: #90cea1;
}

.main-content {
  min-height: calc(100vh - 235px);
}

.swiper-horizontal>.swiper-scrollbar {
  background: transparent;
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.1) !important;
}

.blue-tmdb-text {
  color: #0d253f;
}

.green-tmdb-text {
  color: #90cea1;
}

.bg-tmdb-gren {
  background: #90cea1;
}
.bg-tmdb-blue {
  background: #01b4e4;
}

.bg-tmdb-dark-blue {
  background: #0d253f;
}

.bg-tmdb-dark-blue-light {
  background: rgba(13, 37, 63, .9);
}
